<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.everyones_sponsorship">
    <uses-sdk android:minSdkVersion="19" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Everyones_Sponsorship">

        <activity android:name=".start.MainActivity">
        </activity>
        <activity android:name=".start.SplashActivity">

        </activity>
        <activity android:name=".start.SignAdvertiserActivity"></activity>
        <activity android:name=".start.SignInfluencerActivity">
        </activity>
        <activity android:name=".influencer.InfluencerMainActivity">


        </activity>
        <activity android:name=".advertiser.AdvertiserMainActivity">

        </activity>
        <activity android:name=".advertiser.AdvertiserApplicationActivity"></activity>
        <activity android:name=".ChattingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".advertiser.AddPhotoActivity"></activity>
        <activity android:name=".influencer.SearchActivity"></activity>
        <activity android:name=".influencer.CategoryActivity"></activity>
        <activity android:name=".influencer.ProductDetailsActivity"></activity>
        <activity android:name=".advertiser.EditActivity"></activity>
        <activity android:name=".influencer.MyPageActivity"></activity>
        <activity android:name=".influencer.CategoryDetailsActivity"></activity>
        <activity android:name=".ChatListActivity"></activity>
    </application>

</manifest>